.grid{
    display: grid;
    grid-template-areas:
        "  pagetitle "
        "  spinners "
        "  values ";
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-row-gap: 100px;
    
}

#spinners{
    grid-area: spinners;
    justify-self:center;
}

#displayCase{
    grid-area: values;
    text-align: center;
    align-self: center;
    font-size: 1.3em;
    display: grid;
    grid-gap: 15px; 
    margin-left:15px;
}

#pageTitle{
    grid-area: pagetitle;
    text-align: center;
    font-size: 40px;
}

#container{
  width: 98%;
  max-width: 700px; 
  height:98%;
}

@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ }
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ }
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ }

@media (min-width:801px)  { 
    
} }

@media (min-width:1025px) { 
    .grid{
    display: grid;
    grid-template-areas:
        "  . pagetitle pagetitle . "
        "  values spinners spinners .";
    grid-template-columns: .25fr 1fr 1fr .25fr;
    grid-template-rows: auto;
    grid-row-gap: 100px;
    
} }

@media (min-width:1281px) { 
    .grid{
    display: grid;
    grid-template-areas:
        "  . pagetitle pagetitle . "
        "  values spinners spinners .";
    grid-template-columns: .25fr 1fr 1fr .25fr;
    grid-template-rows: auto;
    grid-row-gap: 100px;
    
}}